@media only screen and (min-width:200px)and (max-width:575px){
    .btn-outer{
        position:fixed;
        bottom:0;
        width:100%;
        justify-content: center !important;
        left:0;
        background-color: white;
        padding:5px 0px;

    }
    .whatsapp, .phone{
        padding:7px 15px;
        font-size:14px;

    }
    .bannerContent p,.bannerContent ul li{
        font-size:16px;
    }
    .bannerContentBtn{
        flex-direction: column;
    }
    .bannerContentBtn button{
        width:100%;
    }
    bannerForm{
      padding:20px;

}
highlights-section  h2{
      
      font-size: 26px;
    
}
}